<!-- Breadcrumbs -->
<section class="g-bg-gray-dark-v1 g-color-white g-py-125">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">About Us</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->

<!-- Figure -->
<section class="container g-pt-100 g-pb-40">
  <figure class="row">
    <!-- Figure Image -->
    <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 g-mb-30">
      <%= image_tag("FloydDBetters.jpg", alt: "img Floyd Betters")%>
    </div>
    <!-- End Figure Image -->

    <!-- Figure Body -->
    <div class="col-lg-8">
      <div class="d-flex justify-content-between g-mb-10">
        <div class="g-mb-20">
          <h4 class="h5 g-mb-5">Floyd D. Betters</h4>
          <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Founder</em>
        </div>


        <!-- End Figure Social Icons -->
      </div>

      <!-- Figure Info -->
      <div class="g-mb-50">
        <p>Floyd D. Betters started Betters Food Sales, Inc. with his Grandmother, Margaret S. Betters on March 15, 1956. Prior to starting their business,
          Floyd worked for a local New York food company, as well as, served in WWII and the Korean War. Betters Food Sales, Inc. was primarily a food brokerage
          business in wholesale frozen fruits and canned foods. As one of the hardest working men I have ever known, he grew this small company with his wife,
          from the back porch of their home, into an International Empire stretching across the globe. He always stayed relevant in the business, diversifying
          when necessary and taking informed risks that continued to grow the company. All four of his children played a very strong role in the family business
          success, each playing a vital and unique role.</p>
      </div>
      <!-- End Info -->
    </div>
  </figure>

<!-- End Figure -->

  <!-- Testimonials -->
  <section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_8--after">
     <%= image_tag('branches-brazil-environment.png', class: "divimage", class: "dzsparallaxer--target", height: "600", width: "2000")%>
    <div class="container g-z-index-1 g-py-100">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="text-center g-z-index-1 text-uppercase">
            <blockquote class="g-color-white g-font-size-28 g-mb-20">If you can design one thing
              <span class="g-color-primary g-font-weight-600">you can design</span> everything. Just believe it.
            </blockquote>
            <h4 class="h6 g-color-white-opacity-0_6 g-mb-0">- John Watson -</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Testimonials -->


  <!-- Testimonials -->
  <section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_8--after">
    <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background: url();"></div>
    <div class="container g-z-index-1 g-py-100">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="text-center g-z-index-1 text-uppercase">
            <blockquote class="g-color-white g-font-size-28 g-mb-20">If you can design one thing
              <span class="g-color-primary g-font-weight-600">you can design</span> everything. Just believe it.
            </blockquote>
            <h4 class="h6 g-color-white-opacity-0_6 g-mb-0">- John Watson -</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials -->
  <!-- Figure -->
  <section class="container g-pt-100 g-pb-40">
    <figure class="row">
      <!-- Figure Image -->
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 g-mb-30">
        <%= image_tag("missing_avatar.png", alt: "img Matt Betters", height: "250")%>
      </div>
      <!-- End Figure Image -->

      <!-- Figure Body -->
      <div class="col-lg-8">
        <div class="d-flex justify-content-between g-mb-10">
          <div class="g-mb-20">
            <h4 class="h5 g-mb-5">Matt Betters</h4>
            <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">CEO</em>
          </div>

          <!-- Figure Social Icons -->
          <ul class="list-inline">
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-google-plus"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Figure Social Icons -->
        </div>

        <!-- Figure Info -->
        <div class="g-mb-50">
          <p>"I began my “education” with my grandfather in 1989 when I graduated high school. From that first summer of 1989 and through my college
            years my grandfather sent me all over the USA and the world to meet primarily with his suppliers where I would spend weeks and months learning the business
            from the ground up. Every time I returned I had to give him a formal written report, for example, how the Chilean grape juice concentrate business worked from
            the growing of the grapes, production of concentrates to the shipment of product. Then on occasion I would get a real treat and he would take me on a sales trips
            (imagine I was 20 years old) meeting the top worldwide brand buyers at Kraft, Tropicana, Minute Maid, Welch’s, and H.J. Heinz.</p>

          <p>I formally joined by grandfather’s company in 1996 after graduating college and spending 2 years in the US Army. In 1998, my brother Travis joined Betters
            International Food Corporation. I primarily did sales and new product development and Travis was in sales. I think we cold called every user of fruit and concentrates
            in the USA and Canada!</p>

          <p>In 2014 my brother and I decided to go our separate ways which resulted with me selling my shares to him in 2015. We agreed to a non-compete wherein I would stay out
            of the market and do no commercialization plus not contact any of our suppliers until September 2, 2017. Now that my obligations have expired, I am able to begin my business
            enterprise. I decided on making Colombia my new headquarters for all business development in part because Colombia offers so much. It is rich in fruits and has a very educated
            population. In Colombia one also has the ability to ship from the Atlantic or Pacific oceans. And yes, the Amazon! I wanted to focus on the awesome and untouched exotic Amazon.
            Betters International is the first company ever to have a real commercial and communal relationship with tribes on the Amazon. I also wanted to introduce new products into the
            world without touching or interfering with my brother’s business. In addition, and just as important, I wanted to focus on regions that were part of the recent Colombian peace
            process after having been filled with war for decades.</p>

          <p>If Colombia was to be the new home to Betters International I knew who to contact, my old friend Juan Carlos Segura. Juan and I crossed paths in 2004/2005 and I was immediately
            impressed with his skills. Nothing ever developed of any commercial value but I always remembered his extraordinary managerial ability, engineering ability, friendship and loyalty.
            We re-united at the right time as we were both looking for opportunities.</p>

          <p>As a result, Betters International was re-launched (God bless my grandparents). We will be operating largest food product development facility in Latin America and the results will be
            breathtaking. Betters International will employ the best and brightest scientists and engineers. We will be offering over 100 products with much more in the pipeline.</p>

          <p>With my vision and Juan’s implementation Betters International will soon be a world recognized company. </p>

          <p>None of this would be possible without acknowledging the following people and the hard work and sacrifices they have made: Floyd D. Betters, Margaret S. Betters, William Betters,
            Elaine Betters, Marvin Betters, Victoria Betters, Paul Betters, Kathy Betters, Bonita Betters-Reed, Gary Reed, Travis Betters, Katherine Betters, James Betters, Kelly Betters, Ryan
            Betters, Michael DeLaurentis, Veronica DeLaurentis, Cathy Pereira, John Betters, Thomas Betters, Katerine Betters, Juan Carlos Segura Pinzon and Marcela Triana."</p>
        </div>
        <!-- End Info -->
      </div>
    </figure>

    <div class="row">
      <div class="col-sm-6">
        <!-- Progress Bar v2 -->
        <h4 class="h6 g-mb-5">Web Design - 80%</h4>
        <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
          <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- End Progress Bar v2 -->

        <!-- Progress Bar v2 -->
        <h4 class="h6 g-mb-5">PHP/WordPress - 76%</h4>
        <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
          <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 76%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- End Progress Bar v2 -->
      </div>

      <div class="col-sm-6">
        <!-- Progress Bar v2 -->
        <h4 class="h6 g-mb-5">jQuery - 80%</h4>
        <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
          <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- End Progress Bar v2 -->

        <!-- Progress Bar v2 -->
        <h4 class="h6 g-mb-5">CSS - 76%</h4>
        <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
          <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 76%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- End Progress Bar v2 -->
      </div>
    </div>
    </div>
    <!-- End Figure Body -->
    </figure>
  </section>
  <!-- End Figure -->

  <!-- Cubeportfolio -->
  <section class="container g-py-100">
    <div class="row justify-content-center g-mb-60">
      <div class="col-lg-7">
        <!-- Heading -->
        <div class="text-center">
          <h2 class="h4 text-uppercase mb-3">Branding works</h2>
          <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
          <p class="mb-0">I am a creative person focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
        </div>
        <!-- End Heading -->
      </div>
    </div>

    <!-- Cubeportfolio Filter -->
    <ul id="filterControls" class="text-center u-filter-v1 g-mb-40">
      <li class="list-inline-item cbp-filter-item cbp-filter-item-active g-cursor-pointer g-transition-0_2" data-filter="*">All</li>
      <li class="list-inline-item cbp-filter-item text-uppercase g-cursor-pointer g-transition-0_2" data-filter=".js-illustration">Illustration</li>
      <li class="list-inline-item cbp-filter-item text-uppercase g-cursor-pointer g-transition-0_2" data-filter=".js-design">Design</li>
      <li class="list-inline-item cbp-filter-item text-uppercase g-cursor-pointer g-transition-0_2" data-filter=".js-graphic">Graphic</li>
      <li class="list-inline-item cbp-filter-item text-uppercase g-cursor-pointer g-transition-0_2" data-filter=".js-logo">Logo</li>
    </ul>
    <!-- End Cubeportfolio Filter -->

    <!-- Cubeportfolio container -->
    <div class="cbp" data-controls="#filterControls">
      <div class="cbp-item js-logo">
        <!-- Figure -->
        <figure class="u-info-v1-4 g-overflow-hidden mb-0">
          <!-- Figure Image -->
       <%= image_tag "missing_avatar.png", class: "u-info-v1-4__item-regular", class: "g-transition-0_2", width: "100" %>
          <!-- End Figure Image-->

          <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-1.html"></a>

          <!-- Figure Caption -->
          <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
            <h4 class="h6 g-font-weight-500 mb-0">Kathy Reyes</h4>
            <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">Logo</em>
          </figcaption>
          <!-- End Figure Caption-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="cbp-item js-logo">
        <!-- Figure -->
        <figure class="u-info-v1-4 g-overflow-hidden mb-0">
          <!-- Figure Image -->
          <%= image_tag "missing_avatar.png", class: "u-info-v1-4__item-regular", class: "g-transition-0_2", width: "100" %>
          <!-- End Figure Image-->

          <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-2.html"></a>

          <!-- Figure Caption -->
          <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
            <h4 class="h6 g-font-weight-500 mb-0">Kathy Reyes</h4>
            <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">Logo</em>
          </figcaption>
          <!-- End Figure Caption-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="cbp-item js-illustration js-design">
        <!-- Figure -->
        <figure class="u-info-v1-4 g-overflow-hidden mb-0">
          <!-- Figure Image -->
          <%= image_tag "missing_avatar.png", class: "u-info-v1-4__item-regular", class: "g-transition-0_2", width: "100" %>
          <!-- End Figure Image-->

          <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-3.html"></a>

          <!-- Figure Caption -->
          <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
            <h4 class="h6 g-font-weight-500 mb-0">Kathy Reyes</h4>
            <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">Illustration</em>
          </figcaption>
          <!-- End Figure Caption-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="cbp-item js-design js-illustration">
        <!-- Figure -->
        <figure class="u-info-v1-4 g-overflow-hidden mb-0">
          <!-- Figure Image -->
          <%= image_tag "missing_avatar.png", class: "u-info-v1-4__item-regular", class: "g-transition-0_2", width: "100" %>

          <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-4.html"></a>

          <!-- Figure Caption -->
          <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
            <h4 class="h6 g-font-weight-500 mb-0">Kathy Reyes</h4>
            <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">Design</em>
          </figcaption>
          <!-- End Figure Caption-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="cbp-item js-design js-graphic">
        <!-- Figure -->
        <figure class="u-info-v1-4 g-overflow-hidden mb-0">
          <!-- Figure Image -->
          <%= image_tag "missing_avatar.png", class: "u-info-v1-4__item-regular", class: "g-transition-0_2", width: "100" %>
          <!-- End Figure Image-->

          <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-5.html"></a>

          <!-- Figure Caption -->
          <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
            <h4 class="h6 g-font-weight-500 mb-0">Kathy Reyes</h4>
            <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">Graphic</em>
          </figcaption>
          <!-- End Figure Caption-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="cbp-item js-illustration js-design js-graphic">
        <!-- Figure -->
        <figure class="u-info-v1-4 g-overflow-hidden mb-0">
          <!-- Figure Image -->
          <%= image_tag "missing_avatar.png", class: "u-info-v1-4__item-regular", class: "g-transition-0_2", width: "100" %>
          <!-- End Figure Image-->

          <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-6.html"></a>

          <!-- Figure Caption -->
          <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
            <h4 class="h6 g-font-weight-500 mb-0">Kathy Reyes</h4>
            <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">Design</em>
          </figcaption>
          <!-- End Figure Caption-->
        </figure>
        <!-- End Figure -->
      </div>
    </div>
    <!-- End Cubeportfolio container -->
  </section>
  <!-- End Cubeportfolio -->

  <div class="u-ns-bg-v1-bottom g-bg-white"></div>

  <!-- Counters -->
  <section class="dzsparallaxer auto-init height-is-based-on-content">
    <!-- Parallax Image -->
    <%= image_tag "missing_avatar.png", class: "u-info-v1-4__item-regular", class: "g-transition-0_2", width: "100" %>
    <!-- End Parallax Image -->

    <div class="container g-pt-100 g-pb-70">
      <div class="row text-center text-uppercase">
        <div class="col-md-6 col-lg-3 g-mb-30">
          <!-- Counters -->
          <div class="g-bg-white g-rounded-4 g-brd-bottom g-brd-2 g-brd-gray-light-v3 g-pa-20">
            <div class="js-counter h1 g-font-weight-300 g-mb-5">18298</div>
            <h4 class="g-font-weight-300">Web Developers</h4>
          </div>
        </div>
        <!-- End Counters -->

        <div class="col-md-6 col-lg-3 g-mb-30">
          <!-- Counters -->
          <div class="g-bg-white g-rounded-4 g-brd-bottom g-brd-2 g-brd-gray-light-v3 g-pa-20">
            <div class="js-counter h1 g-font-weight-300 g-mb-5">24583</div>
            <h4 class="g-font-weight-300">Designers</h4>
          </div>
        </div>
        <!-- End Counters -->

        <div class="col-md-6 col-lg-3 g-mb-30">
          <!-- Counters -->
          <div class="g-bg-white g-rounded-4 g-brd-bottom g-brd-2 g-brd-gray-light-v3 g-pa-20">
            <div class="js-counter h1 g-font-weight-300 g-mb-5">37904</div>
            <h4 class="g-font-weight-300">Open Contests</h4>
          </div>
        </div>
        <!-- End Counters -->

        <div class="col-md-6 col-lg-3 g-mb-30">
          <!-- Counters -->
          <div class="g-bg-white g-rounded-4 g-brd-bottom g-brd-2 g-brd-gray-light-v3 g-pa-20">
            <div class="js-counter h1 g-font-weight-300 g-mb-5">50892</div>
            <h4 class="g-font-weight-300">Happy Customers</h4>
          </div>
        </div>
        <!-- End Counters -->
      </div>
    </div>
  </section>


  <script>
      $(document).on('ready', function () {
          // initialization of tabs
          $.HSCore.components.HSTabs.init('[role="tablist"]');

          // initialization of go to
          $.HSCore.components.HSGoTo.init('.js-go-to');

          // initialization of counters
          var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');
      });

      $(window).on('load', function () {
          // initialization of header
          $.HSCore.components.HSHeader.init($('#js-header'));
          $.HSCore.helpers.HSHamburgers.init('.hamburger');

          // initialization of HSMegaMenu component
          $('.js-mega-menu').HSMegaMenu({
              event: 'hover',
              pageContainer: $('.container'),
              breakpoint: 991
          });

          // initialization of cubeportfolio
          $.HSCore.components.HSCubeportfolio.init('.cbp');

          // initialization of horizontal progress bars
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
              direction: 'horizontal',
              indicatorSelector: '.js-hr-progress-bar-indicator'
          });
      });

      $(window).on('resize', function () {
          setTimeout(function () {
              $.HSCore.components.HSTabs.init('[role="tablist"]');
          }, 200);
      });
  </script>

