<!-- Promo Block -->
<section class="container g-py-150">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="h2 g-color-black g-font-weight-300 g-line-height-1_8 mb-5">
        <span class="g-color-primary g-font-weight-500">Betters International</span> has the largest new product development facility in Latin America.
        We can assist you in creating new products for your company and markets.
      </h2>
    </div>
  </div>
  <div class="d-flex">
    <a class="js-fancybox align-self-center u-icon-v2 u-block-hover--scale g-color-white g-bg-primary g-font-size-20 rounded-circle g-text-underline--none--hover mr-3" href="javascript:;" data-src="//www.youtube.com/watch?v=1Z8qqu4i4rU" data-speed="350">
      <i class="g-font-size-default g-pos-rel g-left-2 hs-icon hs-icon-play"></i>
    </a>

    <span class="align-self-center g-font-weight-700">Watch intro video</span>
  </div>
</section>
<!-- End Promo Block -->

<!-- Icon Blocks -->
<div class="clearfix">
  <div class="row no-gutters">
    <div class="col-lg-4">
      <!-- Icon Blocks -->
      <div class="u-block-hover g-bg-purple g-color-white text-center g-py-120 g-px-50">
            <span class="d-block g-font-size-50 g-rounded-5 mb-2">
                <i class="icon-education-147 u-line-icon-pro"></i>
              </span>
        <h3 class="h3 g-font-weight-600 mb-30">Cost effective solutions</h3>
        <p class="lead g-color-white-opacity-0_8 mb-5">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>

        <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up">

        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4">
      <!-- Icon Blocks -->
      <div class="u-block-hover g-bg-teal g-color-white text-center g-py-120 g-px-50">
            <span class="d-block g-font-size-50 g-rounded-5 mb-2">
                <i class="icon-electronics-147 u-line-icon-pro"></i>
              </span>
        <h3 class="h3 g-font-weight-600 mb-30">State of the art equipment </h3>
        <p class="lead g-color-white-opacity-0_8 mb-5">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
        <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up">

        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4">
      <!-- Icon Blocks -->
      <div class="u-block-hover g-bg-purple g-color-white text-center g-py-120 g-px-50">
            <span class="d-block g-font-size-50 g-rounded-5 mb-2">
                <i class="icon-education-143 u-line-icon-pro"></i>
              </span>
        <h3 class="h3 g-font-weight-600 mb-30">Customized to your needs</h3>
        <p class="lead g-color-white-opacity-0_8 mb-5">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
        <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up">

        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>
  </div>
</div>
<!-- bullet points -->
<section class="container g-py-150">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="h2 g-color-black g-font-weight-300 g-line-height-1_8 mb-5">
        <div class = "changeFontSize">We can assist in any of the following:</div>
       <ul class = "g-color-primary">
         <li><span style = "color:black;">Products using Amazon resources.</span></li>
         <li><span style = "color:black;">Fruit Nectars and Juices.</span></li>
         <li><span style = "color:black;">Any type of confectionary product, chocolate and other</span></li>
         <li><span style = "color:black;">Marmalades</span></li>
         <li><span style = "color:black;">Sauces, especially hot sauces and those using exotic fruits</span></li>
         <li><span style = "color:black;">Baby foods and toddler products</span></li>
         <li><span style = "color:black;">Protein based products.</span></li>
         <li><span style = "color:black;">Vegetable based oils and related products</span></li>
         <li><span style = "color:black;">Salty snacks</span></li>
         <li><span style = "color:black;">Dairy products</span></li>
       </ul>
      </h2>
    </div>
  </div>

</section>



<!-- gridline photo gallery -->
<div class="row">
  <div class="col-md-5">
    <a class="js-fancybox d-inline-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="/assets/DSC_0003-683x1024.jpg" data-speed="350" data-caption="Lightbox Gallery" >
      <%=image_tag "DSC_0003-683x1024.jpg", class: "img-fluid" %>
      <span class="u-bg-overlay__inner g-font-size-18 g-color-white g-pos-abs g-left-20 g-bottom-20">
        Pipsum dolor sit amet
      </span>
    </a>
  </div>
  <div class="col-md-3">

      <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30  " href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="/assets/DSC_0019-1-683x1024.jpg" data-speed="350" data-caption="Lightbox Gallery">
        <%=image_tag "DSC_0019-1-683x1024.jpg", class: "img-fluid" %>
      <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
        Platea dictumst
      </span>
    </a>

    <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="/assets/DSC_0014-1-1024x682.jpg" data-speed="350" data-caption="Lightbox Gallery">
      <%=image_tag "DSC_0014-1-1024x682.jpg", class: "img-fluid" %>

      <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
        Hendrerit curabitur
      </span>
    </a>
  </div>
  <div class="col-md-3">
    <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="/assets/DSC_0016-1-683x1024.jpg" data-speed="350" data-caption="Lightbox Gallery">
      <%=image_tag "DSC_0016-1-683x1024.jpg", class: "img-fluid" %>

      <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
        Consectetur adipiscing
      </span>
    </a>


    <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="/assets/DSC_0013-1-1024x682.jpg" data-speed="350" data-caption="Lightbox Gallery">
      <%=image_tag "DSC_0013-1-1024x682.jpg", class: "img-fluid" %>
      <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
        <span class="g-font-size-46">1+</span>
      <br>view photos
      </span>
    </a>

    <img class="js-fancybox g-hidden-xs-up" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="/assets/paginaDSC_0023-1-683x1024.jpg" data-speed="350" data-caption="Lightbox Gallery">

  </div>
</div>
<!-- JS Plugins Init. -->
<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox', {
            transitionEffect: false
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>
