<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Betters International</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
<main>

  <!-- Header -->
  <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
    <div class="u-header__section u-header__section--dark g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-bg-black-opacity-0_7 g-py-0">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Logo -->
          <a href="../../../index.html" class="navbar-brand">
            <%=image_tag("logobetters.png", alt: "Betters International Logo", id: "headerBetterLogo") %>
          </a>
          <!-- End Logo -->

          <!-- Navigation -->
          <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
            <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
              <li class="nav-item g-mx-20--lg">
                <%= link_to "Home", home_path, class: "nav-link px-0", method: :get%>

              </li>
              <li class="nav-item g-mx-20--lg">

                <%= link_to "Our Products", product_path, class: "nav-link px-0" %>
              </li>
              <li class="nav-item g-mx-20--lg active">
                <a href="#" class="nav-link px-0">What's new
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item g-mx-20--lg">
                <%= link_to "Betters R&D", bettersRD_path, class: "nav-link px-0" %>
              </li>
              <li class="nav-item g-mx-20--lg">
                  <%= link_to "About us", about_path, class: "nav-link px-0" %>
              <li class="nav-item g-ml-20--lg g-mr-0--lg">
                  <%= link_to "Contact us", contact_path, class: "nav-link px-0"%>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Navigation -->
        </div>
      </nav>
    </div>
  </header>
  <!-- End Header -->
  <%=yield %>


  <div class="shortcode-html">
    <!-- Footer -->
    <footer class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 text-center g-pt-60 g-pb-40">
      <!-- Footer Content -->
      <div class="container">
        <a class="d-block g-width-200 g-opacity-0_5 mx-auto g-mb-30" href="index.html">
          <%=image_tag("logobetters.png", alt: "Betters International Logo", id: "headerBetterLogo") %>
        </a>

        <ul class="list-inline g-mb-20">
          <li class="list-inline-item g-mx-5">
            <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-5">
            <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-5">
            <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-5">
            <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>

        <div class="g-width-70x--md mx-auto">
          <p class="mb-0">Our Company is the best. Stay connected with the creative team that never sleeps. Say something to us we will answer you.</p>
        </div>
      </div>
      <!-- End Footer Content -->

      <hr class="g-brd-white-opacity-0_2 g-my-40">

      <!-- Footer Content -->
      <div class="container">
        <div class="row">
          <!-- Footer Content -->
          <div class="col-sm-6 col-lg g-mb-30 g-mb-0--lg">
            <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">USA Office</h2>
            <ul class="list-unstyled mb-0">
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">10 Tor Hill, Pittsford, New York 14534 </a>
              </li>
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">Phone: +1 (917) 722-0974</a>
              </li>
            </ul>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-sm-6 col-lg g-mb-30 g-mb-0--lg">
            <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">Headquarters</h2>
            <ul class="list-unstyled mb-0">
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">Carrera 61 No. 103 – 15, Bogotá, Colombia </a>
              </li>
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">Phone: +57 (1) 467-3120</a>
              </li>
            </ul>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-sm-6 col-lg">
            <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">Monaco Office</h2>
            <ul class="list-unstyled mb-0">
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">25 Boulevard de Belgique, 98000 Monaco</a>
              </li>
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">+37 (799) 907 414</a>
              </li>
            </ul>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-sm-6 col-lg">
            <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">Useful Links</h2>
            <ul class="list-unstyled mb-0">
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">Praesent pulvinar gravida</a>
              </li>
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">Integer commodo est</a>
              </li>
              <li class="g-mb-8">
                <a class="g-color-white-opacity-0_8" href="#">Praesent pulvinar gravida</a>
              </li>
              <li>
                <a class="g-color-white-opacity-0_8" href="#">Integer commodo est</a>
              </li>
            </ul>
          </div>
          <!-- End Footer Content -->
        </div>
      </div>
      <!-- End Footer Content -->

      <hr class="g-brd-white-opacity-0_2 g-my-40">

      <!-- Copyright -->
      <div class="container">
        <small class="g-font-size-default">2019 All right reserved. Fueled by <a class="g-color-white" href="#">BecomeWorldwide.</a>
        </small>
      </div>
      <!-- End Copyright -->
    </footer>
    <!-- End Footer -->
  </div>

</main>

<div class="u-outer-spaces-helper"></div>
<script>
    $(document).on('ready', function () {
        // initialization of carousel
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');
        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
            strings: [
                "Kids",
                "Baby",
                "Natural",
                "Slim",
                "Power",
            ],
            typeSpeed: 60,
            loop: true,
            backDelay: 1500
        });
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });
    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });
    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>
</body>


</html>